body .landing.page {
    display: flex;
    justify-content: center;     
    align-items: center;         
    height: 100vh;       
    background-color: darkblue;       
}

button{
    display: flex;
    align-content: center;
}

container {
    display: flex;
    justify-content: center;
}

img .landing.images{
    width: 100%;
    animation-name: landing-images;
}

@keyframes landing-images{
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}